*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;  font-family: 'Brush Script MT', cursive;
    height: 100vh;
    background: url("images/abstract-dark-purple-background-overlap-layer-on-dark-space-for-background-design-exclusive-wallpaper-design-for-poster-brochure-presentation-website-etc-vector.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;        
}
.header {
    height:80px ;
    display: flex;
    align-items: center;
    /* flex-shrink: 0; */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.493), rgba(0, 0, 0, 0.514));
    color: white;
    font-size: x-large;
    padding:0px 10px 0px 0px;
}
.logo img {
    height: 75px; 
}
.logo{
    cursor: pointer;
}
.scroll-to-do{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    overflow-y: auto;
    /* padding:0px 10px 10px 0px; */
    margin: 10px;
    flex:1;
    scrollbar-width:none;
}
@media(max-width:720px){
    .scroll-to-do{
    display: flex;
    flex-direction: column;
}
}
.to-do-card{
     background: linear-gradient(to right, rgba(249, 249, 249, 0.088), rgba(0, 0, 0, 0.726));
    height:auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.438);
    /* padding-top: 10px; */
}
.to-do-card h2{

    margin: 0;
    color: white;
    background-color: rgba(11, 7, 48, 0.219);
    padding: 3px 3px 3px 3px;
    border-top-left-radius: 10px;   
    border-top-right-radius: 10px; 
    text-align: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.438); ;
}

/* .to-do-card ul{
    padding: 1px 1px 2px px;
} */
 .to-do-card ul li{
   color: white;
} 

.edit-delete{
    margin-top: auto;
    display: flex;
    justify-content: center; 
    gap: 8px;                 
    padding: 8px 12px; 
}
.edit-delete button {
    padding: 6px 10px;
    border: none;
    background-color: #3b3838;   
    color: white;              
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.edit-delete .edit {
    background-color: rgba(0, 0, 0, 0.486); 
}

.edit-delete .delete {
    background-color: rgba(255, 0, 0, 0.616); 
}
.edit-delete .edit:hover {
    background-color: rgb(0, 0, 0); 
}

.edit-delete .delete:hover {
    background-color: rgb(139, 43, 43); 
}

footer{
    height:auto;
     background: linear-gradient(to right, rgba(249, 249, 249, 0.088), rgba(0, 0, 0, 0.726));
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 20px 20px 20px;
   /* flex-shrink: 0; */
}
footer h1{
    color: white;
    margin-bottom: 12px;
    margin-top: 10px;
}
@media(max-width:380px){
    footer h1{
    color: white;
    margin-bottom: 12px;
    margin-top: 10px;
    font-size: large;
     }
     .heading{
        font-size: large;
     }
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 6px;
    width: 100%;
}
.input input{
    border: none;
    background-color: transparent;
    padding: 10px;
    outline: none;
    color: white;
    font-size: medium;
}
.input input::placeholder{
    color: rgb(163, 160, 160);
    font-size: medium;
}
.items{
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 6px;
    width: 100%;
    height: 100px;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 5px;
    color: white;
    display: none;
}
.items li{
    list-style:decimal;

}
.items li .cross{
    height: 10px;
    margin-left: 5px;
}
.button{
    margin: 5px;
    background-color: rgba(255, 0, 0, 0.582);
    border-radius: 6px;
    width: 70%;
    text-align: center;
}
.button button{
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    width: 70%;
    outline: none;
}
.button:hover{
    background-color: rgb(119, 6, 6);
    width: 73%;
}


.toast {
    display: none;
    background: #c45454e5; 
color: white;       
padding: 13px 20px;  
border-radius: 6px;  
font-size: 15px;    
margin-left: auto;
}


.search{
    margin-left: auto;
    padding: 16px 10px;
    width: 300px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: rgba(97, 89, 170, 0.192);
    color: white;
    font-size: 15px;
}
.search::placeholder{
    color: rgba(255, 255, 255, 0.788);
    font-size: 15px;
}
@media (max-width:720px) {
    .logo img{
        height: 50px;
    }
    .search{
    width: 100px;
}
.heading{
    font-size: small;
}
.toast{
    padding: 8px 14px;   
font-size: 15px;  
font-size: x-small;
}
}